body {
  background-color: #4e304d}
h1 {
  text-align: center;
  font-family: Homemade Apple;
  text-shadow: 1px 1px 2px purple, 8px 8px 8px white;
  font-size: 3.5em;}
  
h2#home {
	text-align: center;
	font-family: spectral;
	color: #D5B89F;
	font-size: 1em;
	transform: translate(60px,-50px);
	word-spacing: 5px;
}
tr.evening {
  /* This class means that I use the product in the evening and/or only a few times a week, not daily! */
  background-color: #D7F0FF;
  
}    
div.post {background-color:rgba(241, 183, 234, 0.8);
  border:2px solid #432c55;
  border-radius: 8px;
  padding:30px;
  margin:100px;
  text-align:center;
  font-family:lora;}
  
  div.post:hover {
	  background-color: #FAE0F4;
	  transition-duration: 0.5s;
  }
  
  
/* a:link, a:visited {
  background-color: purple;
  color: white;
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
a:hover, a:active {
  background-color: white;
  color: black;
  }  
  */
  
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
table {
  margin: 0 auto;}
th {
  background-color: #FF8FC8;
  color: black;
}
  
tr:hover {
  color: white;
  background-color: #674CFF;
  }
  
  
  /* Here starts the section for CSS for the search button */
  
 .search {
	position: absolute;
	background-color: transparent;
	cursor: pointer;
	transform: scale(2,2);
	border: transparent;
	visibility: visible;
	border: 2px solid transparent;
	border-radius: 50%;
	top: 9px;
	right: 120px;
  }
  
 #search {
	position:absolute;
	border-radius: 20px;
	border-color: white;
	width: 200px;
	height: 25px;
	visibility: hidden;
	top: 12px;
	right: 180px;
}

.animate-search {
	visibility: visible !important;
}
  
 /* Here starts the section for CSS for the menu */
 
#menuButton {
  border: transparent;
  background-color: transparent;
  transform: scale(2,2);
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
}
}
#menuButton svg:hover {
	transition-duration: 0.5s;
	border-radius: 50%;
	background-color: grey;
}

.menuAppear{
  display: block !important;
}

ul#menu{
  display: none;
  list-style-type: none;
  position: absolute; 
  top:30px;
  right: 50px;
  z-index: 999;
}
li a {
  display: inline-block;
  font-family: lora;
  color: white;
  background-color: #432c55;
  padding: 10px 50px;
  height: 40px;
  width: 150px;
  margin-left: 10px;
  border-bottom: 2px solid transparent;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #eaaedb;
  color: black;
  transition-duration: 0.5s;
}
  

	
.heart:hover {
	fill: #FF4646;
	stroke: black;
	transform: scale(0.95);
}

div.card {
	margin: auto;
	width: 300px;
	height: 100px;
	background-color: #DC96E3;
	box-shadow: 20px 20px black;
	border-radius: 8px;
}
div.card:hover {
	margin: auto;
	width: 300px;
	height: 100px;
	background-color: black;
	box-shadow: 20px 20px #DC96E3;
	color: white;
	border-radius: 8px;
}

img.kirby {
	width: 100px;
	height: 100px;
	transition: width 2s, height 2s, transform 3s ease;
}
 img.kirby:hover {
	 width: 300px;
	 height: 300px;
	 transform: rotate(360deg);
 }

@keyframes kirby-animation {
  0% { left: 0px; top: 0px; }
  25% { left: 200px; top: 0px; transform: rotate(90deg);}
  50% { left: -200px; top: 0px; transform: rotate (180deg);}
  75% { left: 0px; top: -100px; transform: rotate (250deg);}
  100% { left: 0px; top: 0px; transform: rotate(360deg);}
}

.animkirby {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: kirby-animation;
  animation-delay: 1s;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: linear;
  }

/* Here starts the section for CSS for Resources page */

.about {
  border-radius: 8px;
  padding:30px;
  margin:100px;
  text-align:center;
  font-family:lora;
  border: 2px solid black;
background-color:rgba(255, 255, 255, 0.5);
}

#info {
	display: none;
}

 .info {
	 background-color:transparent;
	 font-family: fasthand;
	 font-size: 30px;
	 border: transparent;
	 border-bottom: 2px solid black;
	 display: inline;
 }
 .resource {
  background-color:rgba(255, 255, 255, 0.5);
  border:2px solid black;
  border-radius: 8px;
  padding:30px;
  margin:100px;
  font-family:lora;
  text-align: justify;
  }
 
 .flex {
  display: flex;
 }
 
 .flex > div {
 width: 33%;
 }
 
 a.resrcLink:link, a.resrcLink:visited {
	 font-family: lora;
	 color: black;
	 background-color: transparent;
	 border: transparent;
	 border-bottom: 2px solid black;
 }
 
 a.resrcLink:hover, a.resrcLink:active {
	 font-family: lora;
	 color: #B8388B;
	 background-color: transparent;
	 border: transparent;
	 border-bottom: 2px solid #B8388B;
 }
 
 h1.resrch1 {
	 font-family: "Dancing Script";
	 font-size: 4vw;
	 transform: scale(2,2);
 }
 
 /* Here starts the section for CSS for Silly Form page */
 
 form {
	 background-color: rgba(255, 255, 255, 0.5);
	 margin-left: 300px;
	 margin-right: 300px;
	 border:2px solid black;
	 border-radius: 8px;
     padding:30px;
 }
 
 .fquestion {
	 font-family: lora;
	 font-size: 20px;
 }
.fanswer {
	 font-family: lora;
	 font-size: 18px;
 }
 
 #formh1 {
	 font-family: audiowide;
	 font-size: 4vw;
 }