body {
  background-image: url("gradient2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  background-size: cover;}
h1 {
  text-align: center;
  font-family: porcelain;
  text-shadow: 2px 2px 8px white;}
tr.evening {
  /* This class means that I use the product in the evening and/or only a few times a week, not daily! */
  background-color: #D7F0FF;
  
}    
div.post {background-color:rgba(255, 255, 255, 0.5);
  border:2px solid black;
  border-radius: 8px;
  padding:30px;
  margin:100px;
  text-align:center;
  font-family:lora;}
a:link, a:visited {
  background-color: purple;
  color: white;
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
a:hover, a:active {
  background-color: white;
  color: black;
  }
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
table {
  margin: 0 auto;}
th {
  background-color: #FF8FC8;
  color: black;
}
  
tr:hover {
  color: white;
  background-color: #674CFF;
  }
#nav{
  list-style-type: none;
  margin: 0;
  padding-right: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
}

li {
  float: left;
  padding-right: 30px;
}

ul li:hover {
	font-family: lora;}

/* Here starts the section for CSS for Resources page */

p.about {
  border-radius: 8px;
  padding:30px;
  margin:100px;
  text-align:center;
  font-family:lora;
}

.showBorder {
    border: 2px solid black;
	background-color:rgba(255, 255, 255, 0.5);
  }
 .info {
	 background-color:transparent;
	 font-family: fasthand;
	 font-size: 30px;
	 border: transparent;
	 border-bottom: 2px solid black;
 }
 .resource {
  background-color:rgba(255, 255, 255, 0.5);
  border:2px solid black;
  border-radius: 8px;
  padding:30px;
  margin:100px;
  font-family:lora;
  text-align: justify;
  }
 
 .flex {
  display: flex;
 }
 
 .flex > div {
 width: 33%;
 }
 
 a.resrcLink:link, a.resrcLink:visited {
	 font-family: lora;
	 color: black;
	 background-color: transparent;
	 border: transparent;
	 border-bottom: 2px solid black;
 }
 
 a.resrcLink:hover, a.resrcLink:active {
	 font-family: lora;
	 color: #B8388B;
	 background-color: transparent;
	 border: transparent;
	 border-bottom: 2px solid #B8388B;
 }
 
 h1.resrch1 {
	 font-family: "Dancing Script";
	 font-size: 4vw;
	 transform: scale(2,2);
 }